@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* font-family: 'Poppins', sans-serif; */


:root {
    --gradient: linear-gradient(180deg, rgba(255, 168, 0, 1) 0%, rgba(255, 229, 0, 1) 100%);
    --yellow: #f7eb3d;
    --black: #151821;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--black);
    color: #fff;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 50px 0;
}

img {
    width: 100%;
}

.title {
    font-weight: 700;
    font-size: 26px;
    color: var(--yellow);

}

.title span {
    position: relative;
}

.title span::after {
    content: '';
    width: 100%;
    height: 4px;
    background: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* menu section start */
.menu {
    position: absolute;
    width: 100%;
}

.other-menu {
    position: relative;
    background: #08090F;
}

.menu .main-nav a {
    color: #fff;
    font-weight: 500;
    position: relative;
    transition: all .3s linear;
}

.menu .main-nav a:hover {
    color: var(--yellow);
}

.menu .main-nav a:hover::after {
    content: '';
    width: 21px;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
}

.menu .main-nav .active {
    color: var(--yellow);

}

.menu .main-nav .active::after {
    content: '';
    width: 21px;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: 0;
    right: 0;

}

.menu .buttons .menu-btn {
    background: var(--gradient);
    color: var(--black);
    padding: 10px 15px;
    font-weight: 500;
}

/* menu section end */

/* banner section start */
.banner {
    background: url(../images/background\ pic.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
}

.banner .banner-area {
    padding: 200px;
    text-align: center;
    position: relative;
}

.banner h1 {
    font-weight: 700;
    font-size: 47px;
}

.banner h1 span {
    background: var(--gradient);
    color: var(--black);
}

.banner .banner-area .banner-bottom {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
    font-size: 16px;
}

.banner .banner-area .banner-bottom span {
    position: relative;
}

.banner .banner-area .banner-bottom span::after {
    content: '';
    width: 100%;
    height: 2px;
    background: var(--gradient);
    position: absolute;
    bottom: 0;
    right: 0;
}

/* banner section end */

/* about section start */
.about h2 {
    font-weight: 600;
    font-size: 30px;
    color: #fff;
}

.about h2 span {
    background: var(--gradient);
    color: var(--black);
    padding: 0 5px;
    font-size: 35px;
    font-weight: 700;
}

.about p {
    line-height: 1.5;
}

/* about section end */

/* team section start */
.team {
    background: url(../images/team-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.team a {
    font-weight: 500;
    font-size: 26px;
    color: var(--yellow);
}

/* team section end */

/* match section start */
.single-match {
    background: #08090F;
    border-radius: 60px;
    margin-bottom: 20px;
}

.single-match h2 {
    font-weight: 500;
    font-size: 26px;
}

.single-match h2 span {
    font-weight: 500;
    font-size: 20px;
    color: var(--yellow);
}

.single-match p {
    font-weight: 500;
    font-size: 20px;
    color: var(--yellow);
}

.single-match p span {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}

.single-match a {
    font-weight: 400;
    font-size: 18px;
    color: var(--yellow);
    text-decoration: underline;
}

/* match section end */

/* platform section start */
.platforms .card {
    background: #08090F;
    border-radius: 34px;
}

.platforms .card h3 {
    font-weight: 500;
    font-size: 20px;
    color: var(--yellow);

}

.platforms .card a {
    font-weight: 400;
    font-size: 11px;
    color: #fff;
}

.platforms .card a span {
    position: relative;
}

.platforms .card a span::after {
    content: '';
    width: 19px;
    height: 1px;
    background: var(--gradient);
    position: absolute;
    bottom: 0;
    right: 0;
}

/* platform section end */

/* achivement section start */
.achivement {
    background: url(../images/achivement-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}

.achivement p {
    margin: 0;
}

.achivement .single-achivement h2 {
    font-weight: 700;
    font-size: 48px;
    color: var(--yellow);
}

.achivement .single-achivement p {
    font-weight: 500;
    font-size: 20px;
    color: #fff;
}


/* achivement section end */

/* stream section start */
.stream .image {
    position: relative;
}

.stream .image img {
    width: 100%;
}

.stream .image a {
    position: absolute;
    height: 45px;
    width: 45px;
    background: var(--gradient);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stream .image a i {
    color: var(--black);
}

.stream .image span {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-weight: 400;
    font-size: 11px;
    background: rgba(0, 0, 0, 0.75);
    padding: 5px 9px;
}

.stream p {
    font-weight: 500;
    font-size: 20px;
    color: var(--yellow);
}

/* stream section end */

/* footer section start */
.footer .subscribe {
    background: #08090F;
    border-radius: 30px;
}

.footer .subscribe .subscribe-input {
    background: transparent;
    border: none;
    outline: none;
    padding: 15px 20px;
}

.footer .subscribe .subscribe-input:focus {
    outline: none;
    box-shadow: none;
}

.footer .subscribe .subscribe-btn {
    padding: 15px 25px;
    background: var(--gradient);
    border-radius: 30px;
    outline: none;
    border: none;
}

.footer .icons a {
    height: 30px;
    width: 30px;
    background: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--yellow);
}

.footer .icons a:hover {
    background: transparent;

}


/* footer section end */

/* blog section start */
.blog .blog-menu li a {
    position: relative;
    padding: 0 10px;
    color: #fff;
}

.blog .blog-menu li .active {
    color: var(--yellow);
    text-decoration: underline;
    text-decoration-color: #fff;
    text-decoration-thickness: 2px;
}

.blog .blog-menu li:first-child a {
    padding-left: 0;
}

.blog .blog-menu li:last-child a {
    padding-right: 0;
}

.blog .blog-menu li:last-child a::after {
    display: none;
}

.single-blog {
    margin-bottom: 20px;
}

.single-blog img {
    border-radius: 15px;
}

.blog .blog-menu li a::after {
    content: '';
    width: 1px;
    height: 10px;
    background: #fff;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.single-blog .title {
    font-weight: 500;
    font-size: 18px;
    color: var(--yellow);
}

.single-blog p {
    font-weight: 400;
    font-size: 11px;
}

.single-blog .link {
    font-weight: 400;
    font-size: 13px;
    text-decoration: underline;
    color: #fff;
}

.blog_container .view span {
    position: relative;
}

.blog_container .view span::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background: var(--gradient);
    bottom: 0;
    right: 0;
}

/* blog section end */

/* gallery section start */
.gallery .gallery-menu li a {
    position: relative;
    padding: 0 10px;
    color: #fff;
}

.gallery .gallery-menu li .active {
    color: var(--yellow);
    text-decoration: underline;
    text-decoration-color: #fff;
    text-decoration-thickness: 2px;
}

.gallery .gallery-menu li:first-child a {
    padding-left: 0;
}

.gallery .gallery-menu li:last-child a {
    padding-right: 0;
}

.gallery .gallery-menu li:last-child a::after {
    display: none;
}

.gallery .gallery-menu li a::after {
    content: '';
    width: 1px;
    height: 10px;
    background: #fff;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.single-gallery {
    margin-bottom: 20px;
}

.single-gallery img {
    border-radius: 15px;
    width: auto;
}

.gallery_container .view span {
    position: relative;
}

.gallery_container .view span::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background: var(--gradient);
    bottom: 0;
    right: 0;
}

/* gallery section end */

/* contact section start */

.contact .left-box {
    justify-content: start;
    gap: 10px;
    padding: 20px;
}

.contact .left-box label {
    font-weight: 500;
    font-size: 13px;
    color: var(--yellow);
}

.contact .left-box .send-btn {
    width: 350px;
    height: 40px;
    border-radius: 25px;
    background: var(--gradient);
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact .right-box {
    align-items: center;
    justify-content: center;
    padding: 20px;
}


.contact-info .title {
    font-weight: 500;
    font-size: 16px;
}

.contact-info p {
    font-weight: 500;
    font-size: 13px;
}

.contact-info p a {
    color: #fff;
}

/* contact section end */

/* form design start */
.form-group {
    margin-bottom: 15px;
}

.form-input {
    width: 100%;
    height: 50px;
    padding: 10px;
    margin-top: 5px;
    background: #08090F;
    border-radius: 10px;
    color: #fff;
}

.form-group textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background: #08090F;
    border-radius: 10px;
    color: #fff;
}


/* form design end */

/* shop section start */
.shop_container a {
    display: flex;
    align-items: center;
    justify-content: right;
    color: #fff;
}


.shop_container h2 {
    font-weight: 500;
    font-size: 26px;
    color: var(--yellow);
}

.shop_container .single-product img {
    border-radius: 10px;
}



.shop_container .single-product h4 {
    font-weight: 500;
    font-size: 18px;
    color: var(--yellow);


}

.shop_container .single-product p {
    font-weight: 700;
    font-size: 22px;
}

.shop_container .single-product .buy-btn {
    width: 153px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gradient);
    border-radius: 26px;
    align-items: center;
    justify-content: center;


}

/* shop section end */

/* review section start */
.review .search {
    background: #08090F;
    border-radius: 30px;
}

.review .search .search-input {
    background: transparent;
    border: none;
    outline: none;
    padding: 15px 50px;
}

.review .search .search-input:focus {
    outline: none;
    box-shadow: none;
}

.review_container .input-area {
    position: relative;
}

.review_container .input-area i {
    position: absolute;
    font-size: 15px;
    color: #2F2F2F;
    top: 14px;
    left: 24px;
    transform: translateY(50%);
}

.single-review {
    background: #000;
    border-radius: 10px;
}

.single-review .image {
    position: relative;
}

.single-review .image img {
    width: 100%;
    border-radius: 15px;
    padding: 10px;

}

.single-review .image span {
    position: absolute;
    top: 20px;
    left: 223px;
    font-weight: 400;
    font-size: 9px;
    background: rgba(0, 0, 0, 0.87);
    border-radius: 4px;
    padding: 4px 6px;
}

.single-review .title {
    font-weight: 500;
    font-size: 18px;
    color: var(--yellow);
    padding-left: 10px;
}


.single-review i {
    font-size: 9px;
    color: var(--yellow);
}


.single-review p {
    font-weight: 400;
    font-size: 11px;
}

.single-review .link {
    font-weight: 400;
    font-size: 13px;
    text-decoration: underline;
    color: #fff;
}

.review_container .view span {
    position: relative;
}

.review_container .view span::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background: var(--gradient);
    bottom: 0;
    right: 0;
}

/* review section end */

/* blog_preview section start */
.blog_preview_container h2 {
    font-weight: 500;
    font-size: 26px;
    color: var(--yellow);
    padding: 0 30px;
}

.blog_preview_container p {
    font-weight: 400;
    font-size: 16px;
    padding: 20px;
}

.blog_preview_container .date {
    font-weight: 400;
    font-size: 16px;
    padding: 0 30px;
}

.blog_preview_container .single-preview {
    background: #08090F;
    border-radius: 15px;
}

.blog_preview_container .single-preview img {
    width: 100%;
    border-radius: 30px;
    padding: 20px;
}

.blog_preview_container .tips p {
    font-weight: 500;
    font-size: 16px;
    color: var(--yellow);
}

.blog_preview_container .tips span {
    width: 60px;
    height: 30px;
    background: #08090F;
    border-radius: 2px;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    padding: 5px 10px;
    margin-left: 10px;
}

/* blog_preview section end */